body,h1,h2,h3,h4,h5,h6 {
    font-family: "Noto Sans KR", sans-serif
}

h1 {
    font-weight: bold;
}

div.fill-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
img.make-it-fit {
    max-width: 99%;
    max-height: 99%;
}

button.slider-btn {
    opacity: 25%;
}

button.slider-btn:hover {
    opacity: 100%;
}
